doctype html
html(ng-app="NodeshipsApp")
  head
    title Nodeships
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    style.
      body {
        max-width: 700px;
        margin-right: auto;
        margin-left: auto
      }
      #dashboard {
        padding-top: 50px;
      }
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/pixi.js/dist/pixi.js")
    script(src="/public/app.js")
    
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      a.navbar-brand Nodeships
    #dashboard(ng-controller="gameController")
      h2 Ship is placed in: {{ selectedCell }}
    
